body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

/* Style the header */
.navBar {
  background-color: aqua;
  padding: 30px;
  text-align: left;
  font-size: 35px;
}

.navBar button {
  background-color: rgb(187, 255, 244);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  height: 40px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.carousel {
  display: block;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  list-style-type: decimal;
  padding: auto;
}
